header

{
	height: 10%;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	color: black;

}
html, body
{

	height: 100%;
	margin: 0;



}

nav a {
  padding:10px;
}
a {
  text-decoration: none;
}

.appli
{
	height: 14px;
	width: 14px;
}



	.gauche
{
position: absolute;
display: flex;
justify-content: flex-start;
margin-top: 0px



}

.droite
{

display: flex;
justify-content: flex-end;

}


footer
{


background-color: #f4f4f4


}


a
{
	color: gray
}

.container
{
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

text
{

width: 600px;


}

aside
{color: gray;

margin-left: 10px;
}
